* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    text-decoration: none;
    background-color: rgb(68, 68, 68);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
  }
  
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    font-size: 1.5rem;
    color: white;
    margin: 0 2em;
    
  }
  
  
  nav ul li a {
    text-decoration: none;
    color: white;
    
  }
  
  nav ul li a:hover{
    color: rgb(24, 233, 163);
    transition-duration: 1s;
  
  }
  
  .hamburger{
    display: none;
  }
  
  .hamburger hr{
    width: 20px;
    color: white;
    margin: 5px 0px;
  }
  

  